{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "printWidth": 140,
    "semi": false,
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "overrides": [
      {
        "files": ".prettierrc",
        "options": { "parser": "json" }
      }
    ],
    "importOrderSeparation": false,
    "experimentalBabelParserPluginsList": ["jsx", "typescript"]
  }
  